@import '../../../scss/globals.scss';

button {   
    width: 40px;
    height: 40px;
    cursor: pointer; 
    border: none;
    box-shadow: 2px 2px 2px #837c7c;
}
button {
    background-image: url('../../../assets/svg-icons/arrow-right.svg');
    background-color: $color-secondary;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.input-class {
    height: 40px;
    width: 260px;
    box-shadow: 2px 2px 2px #837c7c;
    border: 1px solid #837c7c;
    outline: none;

    &.input-class:focus-within {
        border: 2px solid $color-primary;
    }

}

.form--input-button {
    display: flex;
}

.label-title {
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
}