@import '../../../scss/globals.scss';

.modal-sucess {
    position: fixed;
    top: 62%;
    right: 39.5%;
    display: flex;
    place-content: center;
    place-items: center;
    width: 320px;
    min-width: 320px;
    height: 70px;
    min-height: 70px;
    margin: 8px;
    border: 1px solid $color-success;
    background-color: $color-success-bg;
    height: 100px;
    z-index: 1;
}


.check-image {
    background-color: $color-success-bg;
    fill: $color-success;
    width: 20px;
    height: 20px;
    margin: 8px;
    animation: slide-up 250ms ease;
}

.text-sucess {
    display: grid;
    align-content: center;
    margin: 2px;
    background-color: $color-success-bg;

    &.text-sucess h2 {
        font-weight: 900;
        color: $color-success;
    } 
    &.text-sucess p {
        font-size: 14px;
        font-weight: 500;
        color: $color-success;
    }
}