@import '../../../scss/globals.scss';

.modal-container {
    border: 1px solid $color-success;
    background-color: $color-success-bg;
    height: 100px;
}


.check-image {
    background-color: $color-success-bg;
    fill: $color-success;
    width: 20px;
    height: 20px;
    margin: 8px;
    animation: slide-up 250ms ease;
}

.text-sucess {
    display: grid;
    align-content: center;
    margin: 2px;
    background-color: $color-success-bg;

    &.text-sucess h2 {
        font-weight: 900;
        color: $color-success;
    } 
    &.text-sucess p {
        font-size: 14px;
        font-weight: 500;
        color: $color-success;
    }
}


//! Darle display none a .main-class.