@import './variables/layout.scss';
@import './variables/typography.scss';


* {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main-class {
    display: grid;
    place-content: center;
    place-items: center;
    min-width: 320px;
    width: 100%;
    height: 100%;
}
