//! Variables.

$color-primary: #4c2982;
$color-secondary: #f9d170;
$color-bg: #f9f7f3;
$color-text: #252525;
$color-light: #f3f3f3;
$color-success: #067973;
$color-success-bg: #f5fffe;
$color-error: #b71540;
$color-error-bg: #fdeff3;



//! Setting example of the variable on sass

// .alert {
//     background-color: map.get($theme-colors, "warning");
// }